doctype html
html(lang="en")
  head
    title= pageTitle
  body 
  h1 Puppeteer for the application Min Hooks
  span Run Date: #{runDate} 

  section 
    each val in steps
      article
      h3= val.label
      img(src='data:image/png;base64,' + val.image, width=400)