doctype html
html(lang="en")
  head
    title= pageTitle
  body 
  h2 page load: #{foo} 
  img(src='data:image/png;base64,' + imageString, width=200 height=200)
  img.className#IdName(src="/gs.svg" alt="Image Title")
